.header
{
  z-index: 1;
  clear:both;
  background: $marine;
  height:2.5rem;
}

.header-title
{
  float:left;
  line-height:2.5rem;
  margin-left:0.5rem;
  color: $white;
}

.header-navigation
{
  display:block;
  float:left;
}

.header-navigation-item
{
  margin-left:1rem;
  color:#FFFFFF;
}

.header-logout
{
  float:right;
  line-height:2.5rem;
  margin-right:1rem;
  margin-top:0.5rem;
}

.header-logout img
{
  float:left;
  width:1rem;
  height:1rem;
  padding-top:0.25rem;
}

.header-logout a
{
  float:left;
  display:block;
  line-height:1.5rem;
  margin-left:0.5rem;
  color: $white;
  text-decoration:none;
  font-size:90%;
}
