.login
{
  width:25rem;
  margin: 0 auto;
  margin-top:2rem;
}

.login form
{
  width:25rem;
}

.login form fieldset
{
  padding:2rem;
  text-align:center;
  background: $soft-gray;
  border: 1px solid $swamp-green;
}

.login form fieldset legend
{
  font-size:90%;
  padding-left:0.5rem;
  padding-right:0.5rem;
}

.login form fieldset label
{
  width:22rem;
  display:block;
  margin-top:1rem;
  padding:0.3rem;
  font-size:80%;
  background: $light-blue-gray;
  border-bottom: 1px solid #9CAAAF;
}

.login form fieldset input[type="text"],
.login form fieldset input[type="email"],
.login form fieldset input[type="password"]
{
  width:21rem;
  display:block;
  margin: 0 0 0.25rem 0.25rem;
  padding:0.5rem;
  background: $dark-gray-blue;
  border: 1px solid $light-blue-gray;
  &::-webkit-input-placeholder {
    color: $dark-grey;
  }
  &:-moz-placeholder {
    /* FF 4-18 */
    color: $black;
  }
  &::-moz-placeholder {
    /* FF 19+ */
    color: $black;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $black;
  }
}

.login form fieldset input[type="email"]:focus,
.login form fieldset input[type="text"]:focus,
.login form fieldset input[type="password"]:focus,
.login form fieldset select:focus
{
  border: 1px solid $ultra-light-blue;
  background: $white;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.login .radio-box
{
  margin-top:1rem;
}

.login form fieldset input[type="radio"]
{
  width:auto;
  padding:0.5rem;
  padding-left:0;
}

.login form fieldset input[type="submit"]
{
  margin-top:0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: $dark-gray-blue;
  border: 1px solid $ultra-light-blue;
  cursor:pointer;
}

.login form fieldset input[type="submit"]:hover
{
  background: $light-sky-blue;
}

.login-failed
{
  color: $firebrick;
  text-align:center;
}