.table-intro
{
  width:90%;
  margin: 0 auto;
  margin-top:2rem;

  h1{
    width:10rem;
    font-weight:bold;
    font-size:90%;
    color: $marine;
  }

  p{
    font-size:80%;
    margin-top:0.5rem;
  }
}

.table
{
  display:table;
  margin: 0 auto;
  margin-top:1rem;
  width:90%;
}

.table-row
{
  display:table-row;
}

.table-row:nth-child(2)
{
  height:0.5rem;
}

.table .table-header
{
  display:table-cell;
  padding:0.5rem;
  text-align:left;
  color: $marine;
  font-size:80%;
  font-weight:bold;
  border-bottom: 2px solid $marine;
}

.table .table-cell
{
  display:table-cell;
  width: auto;
  padding: 0.5rem;
  font-size:80%;
  border-bottom: 1px solid $light-blue-gray;
  
  i{
    font-style: italic;
  }
}

.table .table-cell-link
{
  display:table-cell;
  padding: 0.25rem;
  font-size:80%;
  border-bottom: 1px solid $light-blue-gray;
}

.table .table-cell input,
.table .table-cell select
{
  width:100%;
  border:none;
}

.table .table-cell a
{
  text-decoration:none;
  width:100%;
  margin-left: 0.5rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  color: $white;
  background-color: $marine;
}

.table .table-cell a:hover
{
  background: $light-sky-blue;
}